
Pods/Pods.xcodeproj/xcuserdata/erikthegod.xcuserdatad/xcschemes/xcschememanagement.plist
CustomCalendar.xcodeproj/xcuserdata/erikthegod.xcuserdatad/xcschemes/xcschememanagement.plist
CustomCalendar.xcworkspace/xcuserdata/erikthegod.xcuserdatad/UserInterfaceState.xcuserstate
GoogleService-Info.plist
